#backgrounddimmer {
  position: absolute;
  top: 0px;
  opacity: .8;
  display: none;
  width: 100%;
  height: 100vh;
  background: gray;
}

#modalwindow {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 50%;
  background: red;
  height: 300px;
  border: 5px solid black;
  opacity: 1;
}

#xtoclose {
  float: right;
  position: relative;
  top: 5px;
  right: 10px;
}

body {
  background: white;
}

button {
  float: right;
}